{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- split by div tag -->
<div class="row">
    <div class="col-md-12">
        <h6 class="text-center alert alert-success">Add</h6>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-floating btn-success btn-sm text-white" value="Submit">
            <a href="{% url 'sub_admin_list' %}" class="btn btn-secondary text-white btn-sm"><- Go Back</a>

        </form>
        <div>
            {% if message %}
                <div class="alert alert-{{class}}">
                    {{message}}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}