{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- split by div tag -->
<div class="row">
    <div class="col-md-12">
        <h6 class="text-center alert alert-info mt-1 ml-1 mb-2">Hello,{{username|capfirst }}</h6>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-floating btn-success btn-sm text-white" value="Change Password">
            <a href="{% url 'registration' %}" class="btn btn-secondary text-white btn-sm"><- Back To Home</a>
            <a href="{% url 'logout' %}" class="btn btn-danger text-white btn-sm"><- Logout</a>
        </form>
        <div>
            {% if message %}
                <div class="alert alert-{{class}}">
                    {{message}}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}