<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

  <!-- <footer class="text-white text-center text-lg-start" style="background-color: #23242a;"> -->
<footer class="text-white text-center text-lg-start" style="background-color: #7092be;">
  <!-- Grid container -->
  <div class="container pt-4">
  <!--Grid row-->
  <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-2 mb-md-0">
      <h5 class="text-uppercase mb-4">About company</h5>
      <p><b>We, Novetrics, Are A Team Of Experts</b></p>
      <p>We understand the importance of a data driven decision making for the success of any organisation</p>
      <p>
          To remain viable, organisations and institutions across the globe aspire for Agility. Swift Decision Making, Quick TAT and Unparallel Quality are key to success for any organisation in today’s scenario
      </p>
      <p>We impart data driven business insights to empower organisations and institutions in making the real-time decisions that keep you ahead of the competition.</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-2 mb-md-0">
      <h5 class="text-uppercase mb-4 pb-1">About Us</h5>
      <p>Head Office</p>
      <p>For inquiry, please reach us on following</p>
      <p>Office No. 408, Sonigara Landmark Commercial Center, Wakad, Pune-411057</p>
      <p>+91 9405631707</p>
      <p>support@novetrics.com</p>

      
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-2 mb-md-0">
      <h5 class="text-uppercase mb-4">Opening hours</h5>

      <table class="table text-center text-white">
          <tbody class="font-weight-normal">
          <tr>
              <td>Mon</td>
              <td>10am-6pm</td>
          </tr>
          <tr>
              <td>Tue</td>
              <td>10am-6pm</td>
          </tr>
          <tr>
              <td>Wed</td>
              <td>10am-6pm</td>
          </tr>
          <tr>
              <td>Thr</td>
              <td>10am-6pm</td>
          </tr>
          <tr>
              <td>Fri</td>
              <td>10am-6pm</td>
          </tr>
          <tr>
              <td>Sat</td>
              <td>Closed</td>
          </tr>
          <tr>
              <td>Sun</td>
              <td>Closed</td>
          </tr>
          
          </tbody>
      </table>
      </div>
      <!--Grid column-->
  </div>
  <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  Visit us:
  <a class="text-white" href="http://www.novetrics.com/">www.novetrics.com</a>
  </div>
  <!-- Copyright -->
</footer>
</div>
</div>

<!-- End of .container -->