{% extends 'base_no_header.html' %}
{% load static %}
{% block content %}
<div class="row">
        <center>
            <div class="col-md-4">
                <h6 class="text-center alert alert-info mt-1 ml-1 mb-2">Enter OTP</h6>
                <form action="{% url 'forgotsuccess' %}" method="post" novalidate>
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" class="btn btn-floating btn-success btn-sm text-white" value="Change Password">
                    <a href="{% url 'forgot' %}" class="btn btn-danger text-white btn-sm">Cancel</a>
                </form>
                <div>
                    {% if message %}
                        <div class="alert alert-{{class}}">
                            {{message}}
                        </div>
                    {% endif %}
                </div>
            </div>
        </center>
</div>
<script src="{% static 'js/all.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
{% endblock content %}
